*{
    padding: 0;
    margin: 0;
    color: rgb(197, 196, 196);
}

body{
    background-image: url(./dark-abstract-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    margin-bottom: 3rem;
}

.H-left{
    display: flex;
    padding: 0.7rem;
    gap: 1.5rem;
    align-items: center;
}

.H-left h1{
    font-size: 4rem;
    color: rgb(61, 98, 122);
}

.H-left img{
    max-width: 10rem;
}

.H-right{
    display: flex;
    padding: 0.7rem;
    gap: 2rem;
    align-items: center;
    padding-right: 2rem;
}

.H-right a{
    text-decoration: none;
    font-size: 2rem;
    color: rgb(61, 98, 122);
    position: relative;
}

.H-right a::after{
    content: " ";
    width: 0%;
    height: 1px;
    left: 0;
    background-color: rgb(61, 98, 122);
    position: absolute;
    bottom: 0;
    transition: 0.3s ease-in-out;
}   

.H-right a:hover::after{
    width: 100%;
}


img{
    max-height: 20rem;
    border-radius: 1rem ;
}

section{
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
    
}


main{
    display: flex;
    justify-content: center;
    
}

.Cards{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5rem;
    max-width: 50rem;
    margin-bottom: 2rem;
    
}

.Card{
    display: flex;
    align-items: center;
    gap: 2rem;
    border: 0.01rem #068595 solid;
    border-radius: 1rem;
    background-color: black;
    
}

.content{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}


@media (max-width:426px){ 
    html{
        font-size: 75%;
    }

    .H-left img{
        height:80%;
    }

    .H-left h1{
        font-size: 110%;
    }

    .H-right a{
        font-size: 120%;
    }

    .Cards{
        width: 96%;
    }
    

    

    


}