*{
    padding: 0;
    margin: 0;
    color: rgb(197, 196, 196);
}

body{
    background-image: url(./dark-abstract-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    margin-bottom: 3rem;
}

img{
    max-width: 19rem;
    max-height: 15rem;
}

#zas{
    position: absolute;
    bottom: 0.3rem;
    right: 2.5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    font-size: 20px;
    color: white;
}


.H-left{
    display: flex;
    padding: 0.7rem;
    gap: 1.5rem;
    align-items: center;
}

.H-left h1{
    font-size: 4rem;
    color: rgb(61, 98, 122);
}

.H-left img{
    max-width: 10rem;
}

.H-right{
    display: flex;
    padding: 0.7rem;
    gap: 2rem;
    align-items: center;
    padding-right: 2rem;
}

.H-right a{
    text-decoration: none;
    font-size: 2.6rem;
    color: rgb(61, 98, 122);
    position: relative;
}

.H-right a::after{
    content: " ";
    width: 0%;
    height: 1px;
    left: 0;
    background-color: rgb(61, 98, 122);
    position: absolute;
    bottom: 0;
    transition: 0.3s ease-in-out;
}   

.H-right a:hover::after{
    width: 100%;
}


.mid{
    position: relative;
    color: rgb(61, 98, 122);
    display: flex;
    padding: 2rem;
    width: 80%;
    height: 30rem;
    margin: 0 auto;
    border:  #383a3b 0.2rem solid;
    border-radius: 1.5rem;
    background-image: url(https://cdn11.bigcommerce.com/s-yrkef1j7/images/stencil/1280x1280/products/35440/155739/13-1__79832.1693223337.png?c=2);
    background-size: cover;
    background-position: center;
}

.eventInfo h1{
    position: absolute;
    top: 1rem;
    font-size: 3.5rem;
    color: rgb(221, 54, 54);
}

.eventInfo h3{
    position: absolute;
    top: 7rem;
    color: rgb(248, 244, 244);
    font-size: 1.5rem;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0.4rem;
}

#endereco{
    position: absolute;
    bottom: -5rem;
    color: rgb(248, 244, 244);
}

.eventInfo{
    display: flex;
    flex-direction: column;
    max-width: 70rem;
    gap: 3rem;
}


#but{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: white;
    height: 3rem;
    width: 12rem;
    border-radius: 100px;
    border: none;
    background-color: #385063;
    font-size: 1rem;
    filter: drop-shadow( 0px 0px 5px #068595);
    cursor: pointer;
    margin-bottom: 20px;
}
 
#timer{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    color: white;
}

.linhas{
    background-color: white;
    height: 0.1rem;
    max-width: 80%;
    margin: 2rem auto;
}

section{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
    margin: 5.2rem auto;
    margin-top: 10rem;
    background-color: black;
    filter: drop-shadow( 0px 0px 5px #068595);
    width: 90%;
    padding-bottom: 2rem;
    padding-top: 7rem;
}

section h1{
    position: absolute;
    top: -3rem;
    right: 30rem;
    font-size: 4rem;
    color: white;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    width: 40%;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(19, 17, 17);
}


.activity{
    display: flex;
    gap: 1rem;
    width: 95rem;
    height: 15rem;
    border-radius: 1.5rem;
    border: #383a3b 0.2rem solid;
    background-image: url(./dark-abstract-background.jpg);
    background-size: cover;
    margin: 1rem auto;
}

.activity img{
    max-width: 22rem;
    height: 16rem;
    border-top-left-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
}

.content{
    display: flex;
    flex-direction: column;
    max-width: 60rem;
    gap: 0.7rem;
}


.content h2{
    font-size: 2rem;
}

.content h3{
    font-size: 1.4rem;
}

@media(max-width: 1440px){
    .H-left h1{
        font-size: 3.5rem;
    }

    .mid{
        margin-right: 10rem;
        width: 75%;
        height: 30rem;
    }

    .linhas{
        margin-right: 11.3rem;
        width: 77%;
    }

    .H-right{
        margin-right: 0;
        gap: 2rem;
    }
    
    .H-right a{
        font-size: 2.3rem;
    }

    section{
        width: 80%;
        margin-right: 10rem;
        padding-top: 5rem;
    }
    
    .activity{
        width: 60rem;
        height: 10rem;
    }

    .activity img{
        max-width: 19rem;
        height: 10rem;
    }

    .content{
        width: 70%;
    }

    section h1{
        font-size: 2.4rem;
        top: -2rem;
        right: 19rem;
        padding: 0.7rem 2rem;
    }
}

@media(max-width: 425px){
    
    .H-left h1{
        font-size: 100%;
        
    }

    #zas{
        right: 1%;
        bottom: -0.8rem;
        font-size: 90%;
    }


    .H-left img{
        height: 50%;
    }
    
    .H-right{
        gap: 1rem;
        width: 10rem;
        padding: 0;
    }

    .H-right a{
        font-size: 90%;
    }

    .mid{
        height: 12rem;
        margin-left: 1rem;
    }

    .mid h3{
        font-size: 0.7rem;
        top: 3rem;
    }

    .mid h1{
        font-size: 1.7rem;
        top: 0rem;
    }

    .eventInfo{
        gap: 1.3rem;
    }

    #endereco{
        font-size: 0.7rem;
        bottom: -2rem;
    }

    #timer{
        font-size: 1.3rem;
        top: 0rem;
    }

    #but{
        height: 2.3rem;
        width: 7rem;
        font-size: 0.8rem;
        bottom: -0.5rem;
    }

    .linhas{
        width: 72%;
        margin-left: 3rem;
    }

    section{
        width: 90%;
        margin-left: 1.2rem;
        height: auto;
   
    }

    section h1{
        font-size: 1.3rem;
        left: 5rem;
    }

    .activity {
        flex-direction: column; 
        width: 79%; 
        height: auto;
        gap: 0.2rem;
    }

    .activity img {
        width: 100%;
        height: auto; 
        border-bottom-left-radius: 0;
        border-top-right-radius: 1.2rem;
    }

    .content {
        width: 95%; 
        padding: 0.7rem;
        gap: 0.4rem;
    }
    .content h2{
        font-size: 1rem;
    }

    .content h3{
        font-size: 0.8rem;
    }

    .content p{
        font-size: 0.7rem;
    }
}